/* 메인 카테고리 페이지 스타일 */
.main-categories {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

/* 화살표 스타일 */
.arrow {
  cursor: pointer;
  width: 5%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.arrow img {
  width: 100%;
  height: auto;
}

/* 카테고리 스타일 */
.category-content {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

/* 카테고리 이미지 스타일 */
.category-image {
  width: 70vmin;
  height: 70vmin;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-color: gray;
  opacity: 0.5;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

/* 카테고리 이름 스타일 */
.current-category-title {
  font-size: 27vw;
  line-height: 1.2;
  word-wrap: break-word;
  white-space: normal;
  text-align: center;
  position: absolute;
  z-index: 0;
}
